#!/usr/bin/env python
PACKAGE = "task_priority_controllers"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("k_manip", double_t, 0, "The gain to scale manipulability gradient", 1.0, 0.0, 500)

exit(gen.generate(PACKAGE, "task_priority_controllers", "ManipulabilityObjective"))
