<?xml version="1.0"?>
<robot name="robot7R" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:arg name="prefix" default=""/>

  <xacro:include filename="$(find taskspace_control_examples)/urdf/robot7R_macro.xacro"/>
  <xacro:robot7R_macro prefix="$(arg prefix)"/>

  <!-- colors -->
  <material name="cream">
    <color rgba="1.0 0.99 0.81 1.0"/>
  </material>

  <!-- Connect to world -->
  <link name="world"/>
  <joint name="world_base_link" type="fixed">
    <parent link="world"/>
    <child link = "base_link"/>
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
  </joint>

  <xacro:include filename="$(find taskspace_control_examples)/urdf/robot7R.ros2_control.xacro"/>
  <xacro:robot7R_ros2_control prefix="$(arg prefix)"/>
</robot>
